<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Flights</title>
    <link rel="stylesheet" href="http://localhost:8080/assets/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body class=".body" id="body">
    <header><%- include('./templates/navbar.ejs'); %></header>

    <section>
        <div class="container">
            <div class="mt-5">
                <% for(var i=0; i < data.length; i++) { %>
                <div
                    class="d-style btn btn-brc-tp border-2 bgc-white btn-outline-blue btn-h-outline-blue btn-a-outline-blue w-100 my-2 py-3 shadow-sm">
                    <!-- Basic Plan -->
                    <div class="row align-items-center">
                        <div class="col-12 col-md-4">
                            <h4 class="pt-3 text-170 text-600 text-primary-d1 letter-spacing">
                                <%= data[i].departureStation%> to <%= data[i].arrivalStation%>
                            </h4>
    
                            <div class="text-secondary-d1 text-120">
                                <span class="ml-n15 align-text-bottom">Dhs</span><span
                                    class="text-180"><%= data[i].price%></span> / Passenger
                            </div>
                        </div>
    
                        <ul class="list-unstyled mb-0 col-12 col-md-4 text-dark-l1 text-90 text-left my-4 my-md-0">
                            <li>
                                <i class="fa fa-plane text-success-m2 text-110 mr-2 mt-1"></i>
                                <span>
                                    <span class="text-110"><%= data[i].companyName%></span>
                                </span>
                            </li>
                            
                            <% if (data[i].locations == null) { %>
                                <li class="mt-25">
                                    <i class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></i>
                                    <span class="text-110">
                                        Vol Direct
                                    </span>
                                </li>
        
                                <li class="mt-25">
                                    <i class="fa fa-times text-danger-m3 text-110 mr-25 mt-1"></i>
                                    <span class="text-110">
                                        Escale
                                    </span>
                                </li>
                                <%} else { %>
                                <li class="mt-25">
                                    <i class="fa fa-times text-danger-m3 text-110 mr-25 mt-1"></i>
                                    <span class="text-110">
                                        Vol Direct
                                    </span>
                                </li>
        
                                <li class="mt-25">
                                    <i class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></i>
                                    <span class="text-110">
                                        Escale
                                    </span>
                                </li>
                                <% } %>
    
    
                        </ul>
    
                        <div class="col-12 col-md-4 text-center">
                            <a href="#" class="f-n-hover btn btn-info btn-raised px-4 py-25 w-75 text-600">Reserve</a>
                        </div>
                    </div>
    
                </div>
        
                <% } %>
            </div>
        </div>  
    </section>

    <footer class="text-center text-lg-start bg-light text-muted">
        <%- include('./templates/footer.ejs'); %>
    </footer>
    
</body>
</html>