<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        :root {
            --bs-blue: #0d6efd;
            --bs-indigo: #6610f2;
            --bs-purple: #6f42c1;
            --bs-pink: #d63384;
            --bs-red: #dc3545;
            --bs-orange: #fd7e14;
            --bs-yellow: #ffc107;
            --bs-green: #198754;
            --bs-teal: #20c997;
            --bs-cyan: #0dcaf0;
            --bs-white: #fff;
            --bs-gray: #6c757d;
            --bs-gray-dark: #343a40;
            --bs-gray-100: #f8f9fa;
            --bs-gray-200: #e9ecef;
            --bs-gray-300: #dee2e6;
            --bs-gray-400: #ced4da;
            --bs-gray-500: #adb5bd;
            --bs-gray-600: #6c757d;
            --bs-gray-700: #495057;
            --bs-gray-800: #343a40;
            --bs-gray-900: #212529;
            --bs-primary: #0d6efd;
            --bs-secondary: #6c757d;
            --bs-success: #198754;
            --bs-info: #0dcaf0;
            --bs-warning: #ffc107;
            --bs-danger: #dc3545;
            --bs-light: #f8f9fa;
            --bs-dark: #212529;
            --bs-primary-rgb: 13, 110, 253;
            --bs-secondary-rgb: 108, 117, 125;
            --bs-success-rgb: 25, 135, 84;
            --bs-info-rgb: 13, 202, 240;
            --bs-warning-rgb: 255, 193, 7;
            --bs-danger-rgb: 220, 53, 69;
            --bs-light-rgb: 248, 249, 250;
            --bs-dark-rgb: 33, 37, 41;
            --bs-white-rgb: 255, 255, 255;
            --bs-black-rgb: 0, 0, 0;
            --bs-body-color-rgb: 33, 37, 41;
            --bs-body-bg-rgb: 255, 255, 255;
            --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
            --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
            --bs-body-font-family: var(--bs-font-sans-serif);
            --bs-body-font-size: 1rem;
            --bs-body-font-weight: 400;
            --bs-body-line-height: 1.5;
            --bs-body-color: #212529;
            --bs-body-bg: #fff
        }

        *,
        ::after,
        ::before {
            box-sizing: border-box
        }

        @media (prefers-reduced-motion:no-preference) {
            :root {
                scroll-behavior: smooth
            }
        }

        body {
            margin: 0;
            font-family: var(--bs-body-font-family);
            font-size: var(--bs-body-font-size);
            font-weight: var(--bs-body-font-weight);
            line-height: var(--bs-body-line-height);
            color: var(--bs-body-color);
            text-align: var(--bs-body-text-align);
            background-color: var(--bs-body-bg);
            -webkit-text-size-adjust: 100%;
            -webkit-tap-highlight-color: transparent
        }

        tbody,
        td,
        tfoot,
        th,
        thead,
        tr {
            border-color: inherit;
            border-style: solid;
            border-width: 0
        }

        /*  */
        .body-ticket {
            background: #e4e6e9;

            margin: 0;
            padding: 0;
        }

        .ticket {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            width: 700px;
            margin: 20px auto;
        }

        .ticket .stub,
        .ticket .check {
            box-sizing: border-box;
        }

        .stub {
            background: #ef5658;
            height: 250px;
            width: 250px;
            color: white;
            padding: 20px;
            position: relative;
        }

        .stub:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            border-top: 20px solid #dd3f3e;
            border-left: 20px solid #ef5658;
            width: 0;
        }

        .stub:after {
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            border-bottom: 20px solid #dd3f3e;
            border-left: 20px solid #ef5658;
            width: 0;
        }

        .stub .top {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            height: 40px;
            text-transform: uppercase;
        }

        .stub .top .line {
            display: block;
            background: #fff;
            height: 40px;
            width: 3px;
            margin: 0 20px;
        }

        .stub .top .num {
            font-size: 10px;
        }

        .stub .top .num span {
            color: #000;
        }

        .stub .number {
            position: absolute;
            left: 40px;
            font-size: 150px;
        }

        .stub .invite {
            position: absolute;
            left: 150px;
            bottom: 45px;
            color: #000;
            width: 20%;
        }

        .stub .invite:before {
            content: '';
            background: #fff;
            display: block;
            width: 40px;
            height: 3px;
            margin-bottom: 5px;
        }

        .check {
            background: #fff;
            height: 250px;
            width: 450px;
            padding: 40px;
            position: relative;
        }

        .check:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            border-top: 20px solid #dd3f3e;
            border-right: 20px solid #fff;
            width: 0;
        }

        .check:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            border-bottom: 20px solid #dd3f3e;
            border-right: 20px solid #fff;
            width: 0;
        }

        .check .big {
            font-size: 80px;
            font-weight: 900;
            line-height: .8em;
        }

        .check .number {
            position: absolute;
            top: 50px;
            right: 50px;
            color: #ef5658;
            font-size: 40px;
        }

        .check .info {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start;
            font-size: 12px;
            margin-top: 20px;
            width: 100%;
        }

        .check .info section {
            margin-right: 50px;
        }

        .check .info section:before {
            content: '';
            background: #ef5658;
            display: block;
            width: 40px;
            height: 3px;
            margin-bottom: 5px;
        }

        .check .info section .title {
            font-size: 10px;
            text-transform: uppercase;
        }
    </style>
</head>

<body class="body-ticket">

    <div class="ticket">
        <div class="stub">
            <div class="top">

                <span class="admit">
                    <%= data.departureStation%>
                </span>
                <span class="line"></span>
                <span class="admit">
                    <%= data.arrivalStation%>
                </span>
            </div>
            <div class="number">1</div>
            <div class="invite">
                <%= data.fName%>
                    <%= data.lName%>
            </div>
        </div>
        <div class="check">
            <div class="big">
                <%= data.companyName%>
            </div>

            <div class="info">
                <section>
                    <div class="title">Departure Date</div>
                    <div>
                        <%= data.departdate%>
                    </div>
                </section>
                <section>
                    <div class="title">Arrival Date</div>
                    <div>
                        <%= data.arrivaldate%>
                    </div>
                </section>
                <section>
                    <div class="title">Price</div>
                    <div>
                        <%= data.price%> Dh
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>

</html>